body{
    background-color: gainsboro;
}

.titulo{
    color: orangered;
}

p{
    color: black;
    font-size: 25px;
}

body {
    background-color: blue;
}

.otrodiv{
    background-color: aqua;
    width: 100px;
    height: 80px;
}

a{
    display: block;
}